<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <link name='left_camera_link'>
        <pose>0 0 0 0 0 0</pose>
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0.0 0 0" rpy="0 0 0"/>
            <inertia
                ixx="1e-6" ixy="0" ixz="0"
                iyy="1e-6" iyz="0"
                izz="1e-6"
            />
        </inertial>
        <visual name='left_camera_visual'>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.06 0.015"/>
            </geometry>
            <material name='left_camera_material'>
                <color rgba="0 1 0 1"/> <!-- Green -->
                <ambient>0.1 0.1 0.1 1</ambient>
                <diffuse>0.1 0.1 0.2 1</diffuse>
                <specular>0 0 0 0</specular>
                <emissive>0 0 0 1</emissive>
            </material>
        </visual>
        <collision name='left_camera_collision'>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.06 0.015"/>
            </geometry>
        </collision>
    </link>

    <joint type="fixed" name="left_camera_joint">
        <origin xyz="0.084 0 ${0.03+0.105}" rpy="0 0 0"/>
        <!-- <origin xyz="0.084 0 ${0.03+0.7}" rpy="0 0 0"/> -->
        <child link="left_camera_link"/>
        <parent link="base_link"/>
    </joint>
    <link name="left_link"></link>

    <joint name="left_camera_to_camera_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2} "/>
        <parent link="left_camera_link"/>
        <child link="left_link"/>
        </joint>

    <gazebo reference="left_camera_link">
        <material>Gazebo/Green</material>
        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>100</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>L8</format>
                    <width>1384</width>
                    <height>1032</height>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
            </camera>
            <plugin name="left_camera_controller" filename="libgazebo_ros_camera.so">
                <ros>
                    <namespace>camera</namespace>
                    <remapping>left_camera_link/image_raw:=left_image</remapping>
                    <remapping>left_camera_link/camera_info:=left_info</remapping>
                </ros>
                <camera_name>left_camera_link</camera_name>
                <frame_name>left_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>